body {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}

label {
    margin-right: 10px;
}

input {
    min-width: 160px;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 50% !important;
    margin: 0px !important;
    table-layout: fixed;
    border: 1px solid #b0b0b0;
    border-collapse: collapse;
    border-bottom: 1px solid #b0b0b0 !important;
}

.rowClass {
    border: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0 !important;
    height: 40px;
}

.imgCell {
    text-align: center;
    border: 1px solid #b0b0b0;
}

#chart_div {
    width: 50% !important;
}

#div_row {
    display: flex;
}